#top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#singleDayInfo div {
    display: flex; 
    justify-content: space-between;
    width: 40%;
    margin: auto;
}

#singleDayInfo div p{
    display: flex;
    margin: 0;
    align-items: center;
}

