#main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  #side {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 15%;
    position: fixed;
    background-color: aquamarine;
    background-image: linear-gradient(rgb(0, 255, 157), rgb(49, 170, 218));
  }

  .main-container {
    width: 85%;
    margin: auto;
    margin-top: 2%;
  }
  
  #search {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 20vw;
  }

  #search .text_field {
    width: 100%;
    margin-right: 10px;
  }
  
  #route {
    width: 85%;
    margin-left: auto;
    margin-top: 2vh;
  }
  
  .route-div {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin: 10px 50px;
    padding: 10px 0px;
    font-weight: 900;
    font-size: 17px;
  }
  
  .route-div button {
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
  }
  